<h1>Locations in <%=@dataset.title%></h1>
<br>
<div id='region_chart' style="width: 800px;"></div>
<br>
<div class="container-fluid" style="width: 800px;">
	<div class="span5">
		<div id='pie'></div>
	</div>
	<div class="span2">
		<%= render "/locations/locations_index"%>
	</div>
</div>

<%= render_chart @pie_chart, 'pie' %>
<%= render_chart @region_chart, 'region_chart' %>
