<div style="width: 900px;">
	<h1>Timeline</h1>
	<div id="timeline1"></div>
	<%= render_chart(@chart1, 'timeline1') %>
	<br>
	<h3 style="text-align: left;">Inline disposition:</h3>
	<div id="timeline2"></div>
	<%= render_chart(@chart2, 'timeline2') %>

	<%= render "works/works_index" %>
</div>