<h1><%=t('projects_in') + @dataset.title%></h1>
<div style='width: 800px;'>
  <div class="map" id="map" style='width: 800px; height: 400px;'></div>
</div>
<br>
<div class="bubble" style="width:800px;">
	<%= render 'works/works_index' %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		showMap(<%=raw @hash.to_json %>);
	})
</script>