<h1>Projects in <%=@dataset.title%></h1>
<div style='width: 500px;'>
  <div class="map" id="map" style='width: 500px; height: 300px;'></div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>
<div style="width:500px;">
	<%= render 'works/works_index' %>
</div>