<div id="sidebar">
  <span class="article-sidebar-title">
    <h4><%= t 'my_data'%></h4>
    <hr />
  </span>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to t('new_sidebar').html_safe, new_dataset_path %></li>
    <% @datasets.each do |dataset| %>
    <li><%= link_to dataset.title, dataset%></li>
    <% end %>
  </ul>
</div><!-- sidebar-->
