<div id="sidebar">
  <span class="article-sidebar-title">
    <h4><%= t 'my_data'%></h4>
    <hr />
  </span>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'New', new_dataset_path %></li>
    <% @datasets.each do |dataset| %>
    <li id=<%=""+dataset.id.to_s %>>
      <a href="#"><%=dataset.title%></a>
    </li>
    <% end %>
  </ul>
</div><!-- sidebar-->