<h1>Help</h1>

<div class="bubble" style="width:50%;">
	<h2>Uploading data from files</h2>

	<h3>Supported file types</h3>
	<p>The following spreadsheet extensions are supported: .csv, .xls, .xlsx, .ods</p>

	<h3>Data format for upload</h3>
	<p>Data in the the spreadsheet must be as follows:</p>
	<div>
		<b>Column names:</b>
		<p> required columns are:</p>
		<ul style="width:50%;">
			<li><b>Name:</b> this is the only mandatory column</li>
			<li><b>Start:</b> indicates the start date of the project/activity</li>
			<li><b>End:</b> indicates the end date of the project/activity</li>
			<li><b>Places:</b> a list of locations where the project/activity takes place</li>
		</ul><br>
		<p>Every other column will be added automatically with the indicated name.</p><br>
		<p>The "<b>Places</b>" column must be formatted as follows:</p>
		<p>The city names that indicates cities from the same country must be between curved brackets (even if there is only one city), followed by a comma and the country name, ending with a semicolon and eventually another list for different countries</p>
		<p><b>example: </b> (city1, city2, city3), country1; (city4), country2;</p>
		<br><p>Country names must be in English</p>
	</div>
</div>