<h1>Home</h1><hr>
<div class="container-fluid" style="width:80%;">
  <div class="span2">
    <%= render 'sidebar' %>
  </div><!-- span2 -->
  <div class="span8">
    
  </div><!-- span10 -->
</div><!-- container-fluid -->
