<div class="map" id="map"></div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	markers = handler.addMarkers(<%=raw @hash.to_json %>);
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
});

$(document).ready(function(){
	$map=$('.map');
	$('body').remove();
	$('html').append($('<body></body>'));
	$map.height(<%= params[:height] %>);
	$map.width(<%= params[:width]%>)
	$('body').append($map);
})
</script>