@import "bootstrap";

/* ------- general ------- */
.hidden{
	display: none;
}

.main {
	background-color:white; border: 1px solid;
	border-color: gray;
	border-radius: 10px;
	width: 70%;
	margin-left: 15%;
	//margin-top:30px;
	min-height: 800px;
} 

body {
	background-color:#dfdfd9;
}

textarea{
	width: 400px;
	height: 150px;
}

table {
text-align: center;
@extends .table
}

/* ------- map vs. bootstrap ------- */
.map label { 
width: auto;
 display:inline;
}
.map img { 
max-width: none;
}

/* ------- sidebar ------- */

#sidebar {
  height: 100%;
  padding-right: 0;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
}



