@import "bootstrap";

/* ------- general ------- */

body {
	width: 100%;
}
html, body, .main {
	height: 100%;
}

.hidden{
	display: none;
}

.alert {
  width: 500px;
}

.main {
	background-color:white;
	border-color: gray;
	border-radius: 10px;
	width: 80%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
} 

.main2{
  background-color:white;
  border-left-color:gray;
  width: 84%;
  margin-left:15%;
}

.sidemenu{
 margin:0;
 width:15%;
 text-align: center;
}

.body {
	//background-color:#dfdfd9;
	//background-image: url("/images/tumblr_mcw69lkHrx1rirnzso1_400.jpg");
	min-height:92.2%;
	position:relative;
}

.infowindow{
  width:200px;
  max-height: 300px;
  overflow-x: hidden;
}

.infobubble{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius:10px;
}

textarea{
	width: 400px;
	height: 150px;
}

table {
text-align: center;
@extends .table
}

.bubble {
	padding: 20px;
	background-color: #f2f2f2;
	border-radius:10px;
}

/* ------- map vs. bootstrap ------- */
.map label { 
width: auto;
 display:inline;
}
.map img { 
max-width: none;
}

/* ------- sidebar ------- */
#sidebar {
  height: 100%;
  padding-right: 0;
  margin: 0;
  background-color:white;
  border-radius: 5px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
}
// ---------- footer --------------

footer {
  height: 60px;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  //background-image: url("/images/tumblr_mcw69lkHrx1rirnzso1_400.jpg");
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


