<div class="infowindow" align="center">
	<h4> <%= location.get_name%> </h4>
	<p><%=t('list')+ "(#{location.works.uniq.length}):"%></p>
	
	<%location.get_dataset_ids(current_user).each do |did|%>
	<div class="infobubble">
		<b><%=Dataset.find(did).title%></b>
		<ul>
			<%location.works.each do |work|%>
			<%if work.dataset_id == did%>
			<li><%= work.name %></li>
			<%end%>
			<% end %>
		</ul>
	</div>
	<%end%>
</div>