<div class="infowindow" align="center">
	<h4> <%= 
	 if location.name && location.name!=""
		"#{location.name}, #{location.country}"
	else
		"#{location.country}"
	end
	 %> </h4>
	 <p><%=t('list')+ "(#{location.get_works_length_in_ds(@open_dataset)}):" if @open_dataset%></p>
	<div class="infobubble">
		<ul>
		<%location.works_in_ds(@open_dataset).each do |work|%>
		<li><%= work.name %></li>
		<% end %>
		</ul>
	</div>
</div>