<div align="center">
	<h4> <%= 
	 if location.name 
		"#{location.name}, #{location.country}"
	else
		"#{location.country}"
	end
	 %> </h4>
	<%#= link_to  "<button class='btn'>show projects</button>".html_safe, location_path(location) %>
	<div>
		<p><%=t('list')+ "(#{location.get_works_length_in_ds(@open_dataset)}):" if @open_dataset%> 
	</p>
		<ul>
		<%location.works_in_ds(@open_dataset).each do |work|%>
		<li><%= work.name %></li>
		<% end %>
		</ul>
	</div>
</div>