<footer class="footer">
  <small>
    <ul>
      <li><%= link_to t("help"),  help_path %></li>
    </ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("help"),  help_path %></li>
    </ul>
  </nav>
</footer>