<nav class="navbar" style="margin-bottom: 5px;">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-right">
				<%=render 'layouts/usernavigation'%>
			</ul>
			<ul class="nav pull-left">
				<li><%=link_to '<i class="fa fa-home fa-fw"></i>Home'.html_safe, home_path%></li>
			</ul>
		</div>
	</div>
</nav>