<ul class="nav-tabs nav" align="center">
	<li><%= link_to "home",home_path%></li>
	<li><%= link_to "tutti i progetti",works_path%></li>
	<li><%= link_to "tutti i luoghi",locations_path%></li>
	<br /><br />
</ul>