<ul class="nav-tabs nav" align="center" style="width: 100%;">
	<li><%= link_to "Home",home_path%></li>
	<div style="margin-left:70%;">
	<li> per debug:<%= link_to "Progetti",works_path%>   <%= link_to "Luoghi",locations_path%></li>
	</div>
</ul>
<%= render 'layouts/navbar2'%>