<% if @open_dataset %>
<ul class="nav-tabs nav" align="center">
	<li><%= link_to "Set "+ @open_dataset.title, @open_dataset %></li>
	<li><%= link_to "progetti nel set",works_of_path%></li>
	<li><%= link_to "luoghi nel set",locations_of_path%></li>
	<br /><br />
</ul>
<% end %>