<nav class="navbar" style="margin-bottom: 5px;">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-right">
				<li>per debug:</li>
				<li><%= link_to "Progetti",works_path%></li>
				<li><%= link_to "Luoghi",locations_path%></li>
			</ul>
			<ul class="nav pull-left">
				<li><%=link_to "Home", home_path%></li>
			</ul>
		</div>
	</div>
</nav>