<!DOCTYPE html>
<html>
<%= render 'layouts/header'%>
<body>
	<%= render 'layouts/navbar'%>
	<div class="main" align="center">
		<%= render 'layouts/navbar2'%>
		<%= yield %>
		<br /><br /><br /><br /><br />
	</div>
</body>
</html>
